name: Add issues to GH project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to GH project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.1
        with:
          project-url: https://github.com/orgs/k8ssandra/projects/8
          github-token: ${{ secrets.GH_PROJECTS_TOKEN }}