name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml
      - name: Build 3.11 Management API Docker container
        run: docker build -t mgmtapi-3_11 -f Dockerfile-3_11.yaml .
      - name: Build 4.0 Docker container
        run: docker build -t cassandra:4.0 -f upstream-4.0/Dockerfile upstream-4.0
      - name: Build 4.0 Management API Docker container
        run: docker build -t mgmtapi-4_0 -f Dockerfile-4_0.yaml
      - name: run tests
        run: mvn -B test --file pom.xml
