name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    name: Build and release
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'
      - name: Build with Maven
        run: |
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>artifactory-snapshots</id>
                <username>${{ secrets.ARTIFACTORY_USERNAME }}</username>
                <password>${{ secrets.ARTIFACTORY_PASSWORD }}</password>
              </server>
              <server>
                <id>artifactory-releases</id>
                <username>${{ secrets.ARTIFACTORY_USERNAME }}</username>
                <password>${{ secrets.ARTIFACTORY_PASSWORD }}</password>
             </server>
           </servers>
          </settings>
          EOF
          mvn -q -ff package -DskipTests -P dse
      - name: zip-up
        run: |
          zip jars.zip \
          management-api-agent-common/target/datastax-mgmtapi-agent-*.jar \
          management-api-agent-3.x/target/datastax-mgmtapi-agent-*.jar \
          management-api-agent-4.x/target/datastax-mgmtapi-agent-*.jar \
          management-api-agent-4.1.x/target/datastax-mgmtapi-agent-*.jar \
          management-api-agent-dse-6.8/target/datastax-mgmtapi-agent-*.jar \
          management-api-server/target/datastax-mgmtapi-server-*.jar \
          management-api-common/target/datastax-mgmtapi-common-*.jar
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{  github.ref_name }}
          draft: false
          prerelease: false
          files: jars.zip

