name: Nightly Image Publish

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '4 20 * * *'
  workflow_dispatch:

jobs:
  build-oss-trunk:
    strategy:
      fail-fast: false
      matrix:
        cassandra-version: ['5.0']
    runs-on: ubuntu-latest
    steps:
      - name: Setup Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: k8ssandra/cass-management-api
          flavor: |
            prefix=${{ matrix.cassandra-version }}-nightly-
          tags: |
            type=raw,value=latest
            type=schedule,pattern={{date 'YYYYMMDD'}}
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Setup Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Publish ${{ matrix.cassandra-version }} to Registry
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          file: cassandra-trunk/Dockerfile.ubi8
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64
          target: cass-trunk
